@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Staatliches&display=swap');
:root {
    --theme:green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  font-family:'quicksand', sans-serif ;
  background: black;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;

}

.form_input{
  border: 2px solid var(--theme);
  background-color: black;
  color: white;
  font-size: 35px;
  min-width: 14ch;

}

.main{
  margin-top: 12%;

}
