@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Staatliches&display=swap');
:root {
    --theme:green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
font-family:'quicksand', sans-serif ;
background: black;
color: white;
max-width: 100vw;
overflow-x: hidden;
flex-direction: column;
}

.header1{
  position: relative;
  font-size: 3rem;
  font-family: 'League Spartan', sans-serif;
  padding-left: 50px;
  padding-top: 50px;
}

.header1::after{
  position: absolute;
  content: '';
  width: 10ch;
  height: 5px;
  background: var(--theme);
  left: 0px;
  bottom: 0px;
}

.info{
  font-size: 25px;
  padding-left: 50px;
}
#graph{
  padding-top: 50px;
  padding-left: 150px;
  max-height: 1500px;
  max-width: 1500px;
}